# Junk
*.DS_Store
.vscode
.env

# Python stuff
.venv
__pycache__
.ipynb_checkpoints
.Trash*

# ENV Files
environments/*
!.gitkeep

# Data
data/*
!data/sample_recording.json
!data/sample_first_jump.json